/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/09/2014, 5:21:58 PM
    Author     : Mitch
*/

.menu {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-padding: 0;
}

.menu-item:focused {
    -fx-background-color: darkgray;
}

.menu-item:focused .label {
}

.menu-item .label {
    -fx-text-fill: white;
}

.context-menu {
    -fx-background-color: black;
    -fx-background-insets: 0, 0, 2;
    -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
}

.side_bar {
    -fx-background-color: #E6E6E6;
    -fx-min-width: 1000;
}

.vbox {
    -fx-padding: 20;
    -fx-background-color: #E6E6E6;
    -fx-spacing: 10;
}

.title {
    -fx-font-family: arial;
    -fx-font-size: 24;
}